@import url("https://fonts.kemitchell.com/equity-a.css");
@import url("https://cdn.simplecss.org/simple.min.css");
@import url("https://unpkg.com/tippy.js@6.3.7/dist/tippy.css");

body {
  font-family: 'Equity A', Georgia, serif !important;
  text-rendering: optimizeLegibility;
  padding: 22px;
  overflow-x: hidden;
}

:root {
  --accent: #00a1ff;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 2rem;
  margin-top: 2rem;
}

h3 {
  font-size: 1.5rem;
  margin-top: 2rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 0.96rem;
}
